@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom right, #0f172a, #1e293b);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}